name: OCI Capacity Check

on:
#  schedule:
#    - cron: '*/5 * * * *' # Run every 5 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  check-capacity:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Install Dependencies
      run: composer install --no-dev

    - name: Create Private Key File
      run: |
        echo "${{ secrets.OCI_PRIVATE_KEY }}" > oci_api_key.pem
        chmod 600 oci_api_key.pem

    - name: Run Script
      env:
        OCI_REGION: ${{ secrets.OCI_REGION }}
        OCI_USER_ID: ${{ secrets.OCI_USER_ID }}
        OCI_TENANCY_ID: ${{ secrets.OCI_TENANCY_ID }}
        OCI_KEY_FINGERPRINT: ${{ secrets.OCI_KEY_FINGERPRINT }}
        OCI_PRIVATE_KEY_FILENAME: oci_api_key.pem
        OCI_SUBNET_ID: ${{ secrets.OCI_SUBNET_ID }}
        OCI_IMAGE_ID: ${{ secrets.OCI_IMAGE_ID }}
        OCI_OCPUS: ${{ secrets.OCI_OCPUS }}
        OCI_MEMORY_IN_GBS: ${{ secrets.OCI_MEMORY_IN_GBS }}
        OCI_SHAPE: ${{ secrets.OCI_SHAPE }}
        OCI_MAX_INSTANCES: ${{ secrets.OCI_MAX_INSTANCES }}
        OCI_AVAILABILITY_DOMAIN: ${{ secrets.OCI_AVAILABILITY_DOMAIN }}
        # Add other optional vars if needed
      run: php index.php
